@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --black: rgb(5, 5, 5);
    --white: rgb(255, 255, 255);
    --grey: rgb(65, 65, 65);
    --light-bg: #f5f5f5;
    --light-color: #666;
    --border: 0.1rem solid var(--light-color);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
    width: 1rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-color);
    border-radius: 0.5rem;
}

* {
    font-family: 'Lilita One';
    box-sizing: border-box;
    outline: none;
    border: none !important;
    text-decoration: none;
    transition: 0.2s linear;
}

.navi {
    background-image: linear-gradient(to right, #6db67d, #b4c7e3);
}

.logo {
    width: 40%;
    display: block;
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
}

.brand {
    color: #b4c7e3;
    text-decoration: underline;
}

.navbar-header .navbar-brand {
    color: var(--black);
}

    .navbar-header .navbar-brand:hover {
        color: var(--white);
    }

.navbar-collapse .nav li a {
    color: var(--black);
}

.navbar-collapse nav li a:hover {
    color: var(--white);
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

body, html {
    margin: 0;
}

body {
    margin-top: 6rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex !important;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
